.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 216px;
    height: 100vh;
    font-size: 1.4rem;
    font-weight: 700;
    overflow: hidden;

    z-index: 5005;
    box-shadow: 0 0 2em rgba(0,0,0,0.12);
    background-color: var(--white);

    

    &__header{
        margin-top: 40px;
        margin-bottom: 24px;

        &-logo{
            margin: 0 auto 16px;
            display: block;
            width: fit-content;
        }

        &-btn{

        }
    }
}