.custom__button{
    display: block;
    width: fit-content;
    font-size: inherit;
    font-weight: inherit;
    height: 40px;
    padding: 0 32px;
    margin: 8px auto 0;
    cursor: pointer;
    line-height: 40px;
}

.default{
    color: #fff;
    background-color: var(--green-primary);
    border-radius: 999px;
}


.primary{
    color: #fff;
    background-color: var(--orange-primary);
    border-radius: 15px;
}

.outline{
    color: var(--text-color);
    background-color: var(--while-color);
}

