.custom__button{
    display: block;
    width: fit-content;
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
    height: 40px;
    padding: 0 32px;
    margin: 8px auto 0;
    cursor: pointer;

    background-color: var(--green-primary);
    line-height: 40px;
    border-radius: 999px;
    
}